.round {
    display: flex;
    flex-direction: row;
}

.round-brackets {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0px 20px;
    justify-content: space-around;
}

.next-round {
    display: flex;
    flex-direction: row;
}